/* line 8, app/assets/stylesheets/users.scss */
.signup-page-main-container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #c2d3e083;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 16, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper {
  width: 50rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* line 26, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-left-side {
  width: 60%;
  height: 100%;
  background-image: url("blog8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 35, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-left-side .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 45, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side {
  width: 40%;
  height: 100%;
  padding: 2rem;
  padding-top: 4rem;
}

/* line 51, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

/* line 56, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side .header .logo-wrapper {
  width: 13rem;
  height: 6rem;
}

/* line 60, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side .header .logo-wrapper img {
  width: 100%;
  height: 100%;
}

/* line 67, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side .header .title h3 {
  font-weight: 200;
}

/* line 73, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 78, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side form .form-control {
  width: 100%;
  margin: 0.5rem 0.5rem;
  border: 1px solid #e1e5e7;
  padding: 0.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* line 87, app/assets/stylesheets/users.scss */
.signup-page-main-container .signup-wrapper .signup-right-side form .form-control input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/* line 18, app/assets/stylesheets/application.scss */
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=application.css-17bc58afdb00d7fcb6710be1dc9d0fc49321754250e2c3514414bf866c56f2de.map */
