<header>
    <%= link_to root_path do%>
    <div class="application-header-logo">
        <%= image_tag('logo.svg')%>
    </div>
    <h3 class="title">Book Reviewer</h3>
    <%end%>
    <nav>
        <ul>
        </ul>
    </nav>
</header>